<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @using HC_SB.Modelos.Autenticacion;
    @using Microsoft.AspNet.Identity
    @using Microsoft.AspNet.Identity.EntityFramework;
    @if (Request.IsAuthenticated)
    {
        var manager = new UserManager<ApplicationUser>(new UserStore<ApplicationUser>(new ApplicationDbContext()));
        var currentUser = manager.FindById(User.Identity.GetUserId());


        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <center><img src="~/Content/images/logo-sanbartolome.png" /></center>
                    <strong>Bienvenido @currentUser.nombreCompleto</strong>
                </div>

                <ul class="list-unstyled components">
                    <li class="active">
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-home"></i>
                            Historias Clínicas
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#IdentificacionPaciente" data-toggle="collapse" aria-expanded="false">Identificación Paciente</a>
                                <ul class="collapse list-unstyled" id="IdentificacionPaciente">
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Buscar Paciente</a></li>
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Crear Paciente</a></li>
                                </ul>
                                <a href="#EntrevistaPsicologica" data-toggle="collapse" aria-expanded="false">Entrevista Inicial psicológica</a>
                                <ul class="collapse list-unstyled" id="EntrevistaPsicologica">
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Buscar Entrevista psicológica</a></li>
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Crear Entrevista psicológica</a></li>
                                </ul>
                                <a href="#EvaluaciónPsicologica" data-toggle="collapse" aria-expanded="false">Evaluación Inicial psicológica</a>
                                <ul class="collapse list-unstyled" id="EvaluaciónPsicologica">
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Buscar Evaluación psicológica</a></li>
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Crear Evaluación psicológica</a></li>
                                </ul>
                                <a href="#HojaDeTratamiento" data-toggle="collapse" aria-expanded="false">Hoja de tratamiento</a>
                                <ul class="collapse list-unstyled" id="HojaDeTratamiento">
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Buscar Hoja de tratamiento</a></li>
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Crear Hoja de tratamiento</a></li>
                                </ul>
                                <a href="#DiagnósticoFamiliar" data-toggle="collapse" aria-expanded="false">Diagnóstico Familiar</a>
                                <ul class="collapse list-unstyled" id="DiagnósticoFamiliar">
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Buscar Diagnóstico</a></li>
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Crear Diagnóstico</a></li>
                                </ul>
                                <a href="#Evaluación" data-toggle="collapse" aria-expanded="false">Evaluación</a>
                                <ul class="collapse list-unstyled" id="Evaluación">
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Buscar Evaluación</a></li>
                                    <li><a href="@Url.Action("CrearPaciente", "IdentificacionPaciente")">Crear Evaluación</a></li>
                                </ul>
                            </li>
                        </ul>

                    </li>
                    <li>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">
                            <i class="glyphicon glyphicon-duplicate"></i>
                            Trabajo Social
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Buscar Visita</a></li>
                            <li><a href="@Url.Action("CrearVisita", "TrabajoSocial")">Crear Visita</a></li>
                        </ul>
                    </li>
                    @if (User.IsInRole(System.Web.Configuration.WebConfigurationManager.AppSettings["Administrador"]))
                    {

                        <li>
                            <a href="#pageMaestros" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-cog"></i>
                                Configuración de Maestros
                            </a>
                            <ul class="collapse list-unstyled" id="pageMaestros">
                                <li><a href="#">Buscar Visita</a></li>
                                <li><a href="@Url.Action("CrearVisita", "TrabajoSocial")">Crear Visita</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#pageUsuariosSistema" data-toggle="collapse" aria-expanded="false">
                                <i class="glyphicon glyphicon-user"></i>
                                Usuarios y roles del Sistema
                            </a>
                            <ul class="collapse list-unstyled" id="pageUsuariosSistema">
                                <li><a href="@Url.Action("listaUsuarios", "AdminUsuariosYRoles")">Buscar usuario</a></li>
                                <li>@Html.ActionLink("Crear Usuario", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                            </ul>
                        </li>
                    }
                    <li>
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()

                            <ul class="cerrarSesion">
                                <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
                            </ul>
                        }
                    </li>


                </ul>


            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                                <i class="glyphicon glyphicon-align-left"></i>
                                <span>Toggle Sidebar</span>
                            </button>
                        </div>


                    </div>
                </nav>

                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    <footer>
                        <p>&copy; @DateTime.Now.Year - Historias Clínicas San Bartolome</p>
                    </footer>
                </div>
            </div>
        </div>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>

</body>
</html>
