@model HC_SB.Modelos.Autenticacion.ForgotPasswordViewModel
@{
    ViewBag.Title = "¿Olvidó la contraseña?";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="loginscreen">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <section id="loginForm">
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Especifique su correo electrónico.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="row">
                        <div class="col-md-offset-1 col-md-5">
                            <input type="submit" class="btn btn-primary" value="Reestablecer" />
                        </div>
                        <div class="col-md-offset-1 col-md-4">
                            <a class="btn btn-default" href="@Url.Action("Login", "Account")">Ir al inicio</a>                            
                        </div>
                        </div>
                    </div>
                }

                @section Scripts {
                    @Scripts.Render("~/bundles/jqueryval")
                }
            </section>
        </div>
        @*<div class="col-md-4">
                <section id="socialLoginForm">
                    @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
                </section>
            </div>*@
    </div>


    @Scripts.Render("~/bundles/jqueryval")

</body>
</html>